<!DOCTYPE html>
<!--Esto es un Comentario-->

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> <%= title %> |FunkoShop</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <header class="page-header"> <!--inicio del header-->
            <nav class="navbar container">
                <picture class="navbar__logo">
                    <a href="/home">
                        <img src="../img/branding/logo_light_horizontal.svg" alt="isologotipo de la marac FunkoShop">
                    </a>
                </picture>
                <ul class="navbar__menu">
                    <li class="navbar__item with-submenu">
                        <a class="navbar__link  with-icon" href="/shop/">SHOP<iconify-icon icon="carbon:chevron-down"></iconify-icon></a>
                        <ul class="submenu">
                            <li class="submenu__item">
                                <a class="submenu__link" href="/shop?filter=funkos">Funkos</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/shop?filter=remeras">Remeras</a>
                            </li>
                            <li class="submenu__item">
                                <a class="submenu__link" href="/shop?filter=llaveros">LLaveros</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="/contact">CONTACTO</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" href="/auth/login">LOGIN</a>
                    </li>
                    <li class="navbar__">
                        <a class="navbar__cart" href="/shop/cart">
                            <img src="../img/icons/cart-icon.svg" alt="icono de carrito">
                        </a>
                    </li>
                </ul>
            </nav>
        </header>  <!--fin del header-->